{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
	<a href="{{ path('app_home') }}" class="uk-logo">
		<img src="{{ asset('img/logo.png') }}" alt="Logo" width="90" height="90" class="uk-border-circle">
	</a>
	Kocinaspeed
{% endblock %}
