{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block body %}
	<div class="uk-section uk-flex uk-flex-middle uk-flex-center uk-animation-fade" uk-height-viewport="expand: true" style="background: #f8f9fa;">
		<div class="uk-width-1-3@m uk-width-1-2@s uk-card uk-card-default uk-card-body uk-box-shadow-large uk-border-rounded">
			<h2 class="uk-text-center">Connexion</h2>

			{% if error %}
				<div class="uk-alert-danger uk-text-center" uk-alert>
					<p>Adresse e-mail ou mot de passe incorrect !</p>
				</div>
			{% endif %}

			<form
				action="{{ path('app_login') }}" method="post">
				<!-- Champ E-mail -->
				<div class="uk-margin">
					<label class="uk-form-label" for="username">E-mail :</label>
					<div class="uk-inline uk-width-1-1">
						<span class="uk-form-icon" uk-icon="icon: mail"></span>
						<input class="uk-input uk-form-large uk-border-rounded" type="email" id="username" name="_username" value="{{ last_username }}" placeholder="Votre e-mail" required>
					</div>
				</div>

				<!-- Champ Mot de passe -->
				<div class="uk-margin">
					<label class="uk-form-label" for="password">Mot de passe :</label>
					<div class="uk-inline uk-width-1-1">
						<span class="uk-form-icon" uk-icon="icon: lock"></span>
						<input class="uk-input uk-form-large uk-border-rounded" type="password" id="password" name="_password" placeholder="Votre mot de passe" required>
					</div>
				</div>

				<input
				type="hidden" name="_target_path" value="/">

				<!-- Bouton Se connecter -->
				<div class="uk-margin">
					<button type="submit" class="uk-button uk-button-primary uk-button-large uk-border-rounded uk-width-1-1">Se connecter</button>
				</div>
			</form>

			<!-- Lien Mot de passe oublié -->
			<div class="uk-text-center">
				<a href="#" class="uk-link-muted uk-text-small">Mot de passe oublié ?</a>
			</div>
		</div>
	</div>
{% endblock %}
