{% extends 'base.html.twig' %}

{% block title %}Mentions Légales
{% endblock %}

{% block body %}
	<div class="uk-section uk-section-muted uk-padding-large">
		<div class="uk-container uk-container-small">
			<h1 class="uk-heading-divider uk-text-center" style="font-family: 'Leckerli One', cursive; color: #333;">
				Mentions Légales
			</h1>
			<p style="font-family: 'Montserrat', sans-serif; color: #555;">
				Conformément aux dispositions des articles 6-III et 19 de la loi pour la Confiance dans l'Économie Numérique (LCEN), et au Règlement Général sur la Protection des Données (RGPD), nous vous informons des éléments suivants :
			</p>

			<h2 style="font-family: 'Montserrat', sans-serif; color: #222; font-weight: 500;">1. Informations légales</h2>
			<p style="font-family: 'Montserrat', sans-serif; color: #555;">
				<strong>Propriétaire du site :</strong>
				Kocinaspeed
																								Email : support@kocinaspeed.fr
				<br>
				Directeur de la publication : Mostefaoui Christophe
				<br>
				Contact : christophe.mostefaoui.dev@gmail.com
			</p>

			<h2 style="font-family: 'Montserrat', sans-serif; color: #222; font-weight: 500;">2. Propriété intellectuelle</h2>
			<p style="font-family: 'Montserrat', sans-serif; color: #555;">
				L'ensemble des contenus présents sur le site Kocinaspeed (textes, images, vidéos, logos, etc.) est la propriété exclusive de Kocinaspeed ou de ses partenaires et est protégé par le droit d'auteur. Toute reproduction, distribution, modification, ou publication des contenus sans autorisation préalable est interdite.
			</p>

			<h2 style="font-family: 'Montserrat', sans-serif; color: #222; font-weight: 500;">3. Protection des données personnelles</h2>
			<p style="font-family: 'Montserrat', sans-serif; color: #555;">
				Conformément au RGPD en vigueur, nous nous engageons à respecter la confidentialité des données personnelles collectées. Le responsable du traitement des données personnelles est Mostefaoui Christophe, joignable à support@kocinaspeed.fr.
			</p>

			<h2 style="font-family: 'Montserrat', sans-serif; color: #222; font-weight: 500;">4. Cookies</h2>
			<p style="font-family: 'Montserrat', sans-serif; color: #555;">
				Le site Kocinaspeed utilise des cookies pour améliorer l’expérience utilisateur. Vous avez la possibilité de désactiver les cookies via les paramètres de votre navigateur.
			</p>

			<h2 style="font-family: 'Montserrat', sans-serif; color: #222; font-weight: 500;">5. Limitation de responsabilité</h2>
			<p style="font-family: 'Montserrat', sans-serif; color: #555;">
				Kocinaspeed ne saurait être tenu pour responsable des dommages directs ou indirects causés au matériel de l’utilisateur lors de l’accès au site, ni des interruptions ou bugs du site.
			</p>

			<h2 style="font-family: 'Montserrat', sans-serif; color: #222; font-weight: 500;">6. Loi applicable</h2>
			<p style="font-family: 'Montserrat', sans-serif; color: #555;">
				Les présentes mentions légales sont régies par la loi française. En cas de litige, les tribunaux compétents seront ceux du ressort du siège social de Kocinaspeed.
			</p>
		</div>
	</div>
{% endblock %}
